---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";

const pageTitle = "My Astro Learning Blog";
// const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true })); -> Collection 
// const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags?.includes(tag)); -> Collection 
const allPosts = await getCollection("blog");
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
		<h1>Blog Astro</h1>
        <p>This is where I will write about my Blog...</p>
        <ul>
			{allPosts.map((post: any) => <li><a href={`/posts/${post.id}/`}>{post.data.title}</a></li>)}
        </ul>
		</BaseLayout>
		<!-- <script>
			import "../scripts/menu.js";
		</script> -->
	</body>
</html>